/* Основные стили */
body {
  font-family: 'OpenSans', serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background-image: url('../img/flag.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #626c71;
}
.fixed_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  filter: none; /* Важно! */
}
.scroll_btn {
  display: none;
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.3s;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.title {
  font-family: 'Arsenal', serif;
  font-weight: 700;
  font-size: 40px;
  color: #626c71;
  margin-bottom: 35px;
}
.text {
  text-indent: 20px;
}

/* стили для header */
.header {
  padding-top: 50px;
  position: relative;
  z-index: 10;
}
.header--scrolled {
  background: #fff;
  padding: 0;
  border: 1px solid #000;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__wrapper {
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  border: 1px solid #000;
  opacity: 0.9;
}
.header__wrapper--scrolled {
  border-radius: 0px;
  border: none;
  opacity: 1;
}
.header__logo-img {
  transition: scale 0.3s;
}
.header__logo-img:hover {
  scale: 1.1;
}
.header__nav-list {
  display: flex;
  column-gap: 35px;
  position: relative;
}
/* Изменено для Wordpress, изначально было: .header__nav-item */
.menu-item {
  padding: 0 10px;
  transition: background 0.3s;
  display: flex;
}
.header__nav-menu {
  display: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  background: none;
  text-align: center;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px 50px;
  transition: all 0.3s;
  position: relative;
  margin: 0 auto;
}
.header__nav-menu::before {
  content: '';
  width: 25px;
  height: 25px;
  background: url('../img/icons/burger-menu.svg');
  position: absolute;
  top: 49%;
  left: 22px;
  transform: translateY(-50%);
}
.header__nav-menu--active {
  background: red;
  color: #fff;
  box-shadow: 5px 0px 17px 12px rgba(34, 60, 80, 0.2) inset;
}

/* Изменено для Wordpress, изначально было: .header__nav-link */
.menu-item a {
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #8b8e94;
  padding: 41px 0;
}

/* Изменено для Wordpress, изначально было: .header__nav-item:hover */
.menu-item:hover {
  background: red;
}

/* Изменено для Wordpress, изначально было: .header__nav-item:hover .header__nav-item:hover .header__nav-link*/
.menu-item:hover > a {
  color: #fff;
}

/* Изменено для Wordpress, изначально было: .header__nav-link--active */
.current-menu-item a {
  color: red;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 105px;
  right: -40px;
  background: #fff;
  z-index: 1000;
  border: 1px solid #000;
  border-radius: 5px;
  transition: all 0.3s;
}
#menu-item-252:hover .sub-menu {
  display: block;
}

/* Стили для основной секции */
.main {
  margin-top: 30px;
}
.main__wrapper {
  background: #f1f7f9;
  border-radius: 5px;
  padding: 50px 100px 50px 120px;
  border: 1px solid #000;
  opacity: 0.9;
  position: relative;
}
.info {
  max-width: 780px;
}
.info__text {
  margin-top: 15px;
  text-align: justify;
}

/* Стили для сайд-бара */
.news_widget {
  background: #fff;
  width: 315px;
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #000;
  position: absolute;
  top: 30px;
  right: 60px;
}
.news_widget__title {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: none;
}
.news_widget__list {
  display: block;
}
.news_widget__item {
  border-bottom: 1px solid #eeeeef;
  padding: 5px 0;
}
.news_widget__item:last-child {
  border: none;
}
.news_widget__link {
  color: #da3845;
  text-decoration: none;
  transition: color 0.3s;
}
.news_widget__link:hover {
  color: #000;
}

/* Стили для footer */
.footer {
  margin-top: 30px;
  padding-bottom: 50px;
}
.footer__wrapper {
  background: #3e4145;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 50px 100px 50px 120px;
  display: flex;
  justify-content: space-between;
}
.footer__info {
  color: #fafafa;
}
.footer__info-link {
  color: #fafafa;
}
.footer__btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__btn:hover path {
  fill: #fafafa;
}

/* Стили для вкладки трудоустройства */
.employment__header {
  text-align: center;
  font-family: 'Arsenal';
  font-weight: 700;
  font-size: 24px;
}
.employment__organization {
  color: #000;
}
.employment__departament {
  color: #c00000;
  margin-top: 30px;
}
.employment__title {
  color: gray;
  margin-top: 30px;
}
.employment__audience {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-top: 30px;
}
.employment__conditions {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  color: #000;
  text-align: center;
  margin: 30px 0;
}
.employment__list {
  list-style-type: decimal;
  list-style-position: inside;
}
.employment__item {
  color: #000;
  margin-bottom: 10px;
}
.employment__item:last-child {
  margin: 0;
}
.employment__info {
  margin-top: 30px;
  color: #000;
}
.employment__info-link {
  color: #000;
  font-weight: 700;
}
.employment__info-link:hover {
  text-decoration: none;
}

/* Стили для галерей "Агитработа" и "Жизнь отдела" */
.gallery-element {
  max-width: 300px;
  height: 225px;
  object-fit: cover;
}

/* Стили для вкладки "Обратная связь" */
.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px 15px;
  width: 430px;
}
.feedback__form-title {
  font-family: 'Arsenal', serif;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  text-align: center;
}
.feedback__label {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.feedback__input {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
  height: 24px;
  padding: 0 5px;
  color: #000;
}
.feedback__label--requared::after {
  content: ' *';
  color: #ff0000;
}
.feedback__textarea {
  margin-bottom: 15px;
  resize: vertical;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  padding: 5px 5px;
  color: #000;
}
.feedback__btn {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  padding: 5px 5px;
  color: #000;
  border-radius: 50px;
  cursor: pointer;
  transition: scale 0.3s;
}
.feedback__btn:hover {
  scale: 1.05;
}
.feedback__map {
  border: 1px solid #000;
  border-radius: 5px;
}
.feedback-contacts {
  font-family: 'Arsenal', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.6;
  margin-top: 30px;
  text-align: center;
  color: #000;
}
.feedback-contacts__link {
  color: #000;
  text-decoration: none;
}

/* Стили для страницы со спиком новостей */
.news__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.news__card {
  max-width: 300px;
}
.news__card-link {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0;
  transition: transform 0.2s, box-shadow 0.2s;
}
.news__card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.news__card-img {
  display: block;
  max-width: 300px;
  height: 225px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.news__card-content {
  background: #fafafa;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px;
}
.news__card-title {
  font-family: 'Arsenal', serif;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 5px;
}
.news__card-description {
  font-family: 'OpenSans', serif;
  font-weight: 400;
  font-size: 16px;
}
.news__card-watched {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 5px;
}
.news__card-watched p {
  color: #808080;
}

/* Стили постов */
.post__img {
  display: block;
  width: 1100px;
  margin: 0 auto;
  border-radius: 30px;
  object-fit: cover;
}
.post__text {
  margin-top: 35px;
  font-family: 'OpenSans', serif;
  font-weight: 400;
  color: #000;
  text-indent: 20px;
}
.post__text p {
  margin-bottom: 10px;
}
.post__text p:last-child {
  margin: 0;
}
.post__watched {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 5px;
}

/* Медиа-запросы для адаптива */

/* 1480 */
@media (max-width: 1480px) {
  .container {
    width: 1300px;
  }
  .header__nav-link {
    font-size: 16px;
  }
  .news_widget {
    top: 60px;
    right: 16px;
  }
  .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* 1330 */
@media (max-width: 1330px) {
  .container {
    width: 1100px;
  }
  .title {
    text-align: center;
  }

  .header__nav-link {
    font-size: 14px;
  }

  .news_widget {
    width: 80%;
    position: static;
    margin-bottom: 30px;
  }
  .main__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 50px 100px;
  }

  .info {
    text-align: center;
  }
  .info__text {
    width: 100%;
  }

  .news__card-title {
    font-size: 18px;
  }
  .news__card-description {
    font-size: 14px;
  }

  .feedback-container {
    flex-direction: column;
    row-gap: 30px;
  }
  .feedback__form {
    width: 568px;
  }

  .post__img {
    width: 80%;
  }
}

/* 1140 */
@media (max-width: 1140px) {
  .container {
    width: 950px;
  }
  .header__wrapper {
    flex-direction: column;
    padding: 15px 40px;
  }
  .header__nav-list {
    display: none;
    flex-direction: column;
  }
  .header__nav-list--active {
    display: flex;
  }
  .header__nav-menu {
    display: block;
  }
  .header__nav-item {
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
  }
  .header__nav-link {
    padding: 10px 0;
    font-size: 20px;
  }
}

/* 985 */
@media (max-width: 985px) {
  body {
    line-height: 1.6;
  }
  .container {
    width: 800px;
  }
}

/* 830 */
@media (max-width: 830px) {
  .container {
    width: 700px;
  }
  .scroll_btn {
    position: absolute;
    bottom: 55px;
    right: 30px;
  }
  .scroll_btn--active {
    display: block;
  }
  .footer__btn {
    display: none;
  }
}

/* 730 */
@media (max-width: 730px) {
  .container {
    width: 550px;
  }
  .main__wrapper {
    padding: 50px 40px;
  }
  .feedback__form {
    width: 470px;
  }
  .feedback__map {
    width: 470px;
  }
}

/* 585 */
@media (max-width: 585px) {
  .container {
    width: 480px;
  }
  .title {
    font-size: 35px;
  }

  .post__img {
    width: 100%;
  }

  .feedback__form {
    width: 350px;
  }
  .feedback__map {
    width: 350px;
  }
  .feedback-contacts {
    font-size: 28px;
  }
}

/* 510 */
@media (max-width: 510px) {
  .container {
    width: 360px;
  }
  .title {
    font-size: 21px;
  }
  .feedback__form {
    width: 300px;
  }
  .feedback__map {
    width: 300px;
  }
}

/* 400 */
@media (max-width: 400px) {
  .container {
    width: 320px;
  }
  .feedback__form {
    width: 250px;
  }
  .feedback__map {
    width: 250px;
  }
  .feedback-contacts {
    font-size: 20px;
  }
}
